// Variáveis
$cor-primaria: lighten(#829dad, 0%);
$cor-branca: #fff;

$cores:(
    primaria: lighten(#829dad, 0%),
    auxiliar: #000,
    branco: #FFF
);

$fontes:(
    principal: 'Nunito',
    secundal: 'Arial',
    terceral: 'Montserrat'
);

$font-size: 10px;

