
/* ----------MAIN HEADER---------    */
.main-header {
    background: url(../img/bg-banner.png);
    background-size: cover;
    background-position: center;
    height: 85vh;
    padding: 0 50px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    color: $cor-branca;
    position: relative;
}

@media (min-width: 1024px) {
    .main-header {
        align-items: center;
    }
}

.main-header__title {
    margin-top: 25px;
    font-size: 1.7rem;
    font-family: 'Sawarabi Mincho', Arial;
    font-weight: 400;
}

.main-header__paragraph {
    display: none;
}

@media (min-width: 1024px) {
    .main-header__paragraph {
        display: block;
        width: 50%;
        text-align: center;
        font-size: 18px;
    }
}

.btn_yellow {
    background-color: $cor-amarelo-principal;
    color: #927441;
}